@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.grid-container-shop {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	  grid-template-rows: 185px .3fr;
	  gap: 10px 10px;
	  grid-template-areas:
		". page-title page-title page-title ."
		". Navbar Navbar Navbar ."
	}
	
	.page-title { grid-area: page-title; }
	
	.navbar { grid-area: Navbar; }

.shop-container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2%;
}
.item{
	margin: 2.8%;
}

.item-image{
	width: 300px;
	flex-grow:1;
}

.item-info{
	position: relative;
	display: flex;
	justify-content: space-between;
	font-family: 'Patrick Hand', sans-serif;
	font-size: 1.5em;
	top: 8px;
}

.item-title{
	position: relative;
	text-align: left;
}

#venmo-icon{
	position: relative;
	height: 1em;
	margin-left: auto;
	top: 5px;
	right: 5px;
}
