@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@media screen and (max-width: 400px) {
	  .site-title{
		 position: relative;
		 right: 60px;
	  }
	  
	  footer{
		  position: relative;
		  left: 150px;
		  bottom: 50px;
		  font-size: 1.5em;
		  line-height: 1.4em;
	  }
	  
	  #footer li{
		  display: inherit;
	  }
	}

p {
	font-family: 'Patrick Hand', sans-serif;
	font-size: 24px;
}

h1{
	font-family: 'Patrick Hand', sans-serif;
	font-size: 6em;
}

a {
	background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	background: none;
	color: color(srgb 0.479 0.543 1);
	letter-spacing: 1px;
	line-height: .75em;
}

.grid-container {
	position: relative;
	top: 20px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 300px 200px 200px 200px 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . site-title site-title . ."
		". . bongles-house horse-house . ."
		" . dog-house fountain flower . ."
		". . . . . ."
		". . . . . .";
	}
	
	.site-title { grid-area: site-title; }
	
	.bongles-house { grid-area: bongles-house; }
	
	.horse-house { grid-area: horse-house; }
	
	.dog-house { grid-area: dog-house; }
	
	.fountain { grid-area: fountain; }
	
	.flower-1 { grid-area: flower; }
	
	.flower-2 { grid-area: flower; }
	
	.flower-3 { grid-area: flower; }
	
	.flower-4 { grid-area: flower; }
	
	.flower-5 { grid-area: flower; }
	
.cottage {
	width: 200px;
	position: relative;
}
	
.flower {
	position: relative;
	width: 80px;
	left:
}

.site-title {
	color: #ffb703;
	font-family: 'Patrick Hand', sans-serif;
	font-size: 2em;
	line-height: 5em;
	text-align: center;
}

.page-title a:hover{
	background: none;
	color: black ;
	letter-spacing: 0px;
	line-height: 0px;
}

.navbar ul {
	list-style: none;
	text-decoration: none;
}
.navbar li {
	display: inline;
	font-family: 'Patrick Hand', cursive;
	padding: 10px;
	font-size: 1.3em;
}

#fountain {
	left: 80px;
	bottom: 40px;
	z-index: 2;
}
#bongles-cottage {
	left: -40px;
	z-index: 1;
}

​ #horse-cottage {
	left: 20px;
	top: 10px;
}
#flower-2 {
	left: 150px;
	top: -25px;
}
#flower-3 {
	left: 100px;
	top: 40px;
	z-index: 2;
	transform: rotate(20deg);
}
#flower-4 {
	left: 30px;
	top: 60px;
}
#flower-5 {
	left: 150px;
	top: 80px;
	z-index: 1;
	transform: rotate(40deg);
}
#footer ul {
	list-style: none;
}
#footer li {
	display: inline;
	font-family: 'Patrick Hand', cursive;
	padding: 10px;
	font-size: 1.3em;
}