h1{
	color: blue;
}

.cottage{
	width: 200px;
	position: relative;
}

.grid-container {
	  display: grid;
	  justify-items: center;
	  align-items: center;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	  grid-template-rows: 300px 200px 200px 200px 1fr;
	  gap: 0px 0px;
	  grid-template-areas:
		". site-title site-title site-title site-title ."
		". . bongles-house horse-house . ."
		". dog-house fountain . . ."
		". . . . . ."
		". . . . . .";
	}
	
	.site-title { grid-area: site-title; }
	
	.bongles-house { grid-area: bongles-house; }
	
	.horse-house { grid-area: horse-house; }
	
	.dog-house { grid-area: dog-house; }
	
	.fountain { grid-area: fountain; }
	
#fountain{
	left: 35px;
	bottom: 40px;
}

#bongles-cottage{
	left: -40px;
}
#horse-cottage{
	left: 20px;
	top: 10px;
}